h3,h2, p{
    text-align: center;
}

p{
    text-align: left;
    margin: 4% 4%;
}

h2{
    padding-top: 2%;
}

h3{
    margin-top: 1em;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #202020;
}