<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list (click)="start.close()">
      <a mat-list-item routerLink="/courses">
        <mat-icon>library_books</mat-icon>
        <span>Article</span>
      </a>

      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button color="accent" (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
