<div class="courses-panel">
  <div class="header">
    <h2 class="title">All Articles</h2>

    <button mat-mini-fab color="primary">
      <mat-icon class="add-course-btn" (click)="onAddCourse()">add</mat-icon>
    </button>
  </div>

  <mat-spinner *ngIf="!(loading$ | async)"></mat-spinner>

  <mat-tab-group>
    <mat-tab label="Angular">
      <article-card-list
        (courseChanged)="reload()"
        [courses]="angularCourses$ | async"
      >
      </article-card-list>
    </mat-tab>

    <mat-tab label="NestJS">
      <article-card-list
        (courseChanged)="reload()"
        [courses]="nestjsCourses$ | async"
      ></article-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
